
<div class="d-flex flex-column align-items-center justify-content-center">
  <span class="fs-1 align-middle"><strong>Winners</strong></span>
  <div class="">
    <% @shares.each do |share| %>
      <tr>
        <td>
          <div class="card d-inline-block">
            <div><%= image_tag share.picture.url if share.picture.present? %></div>
            <div class="card-body">
              <h3 class="card-title"><%= share.user.username %><br/></h3>
              <p class="card-text"><%= share.comment %></p>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </div>
</div>